@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #03171e;
  font-size: 22px;
  color: #ffd166;
  height: 100vh;
}

.hello {
  width: 20rem;
  position: relative;
  background-color: #022836;
  border: 0.13rem solid #f48c06;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #c99c08;

}

.hello1 {
  margin: 2rem;
  padding: 1.2rem 1rem;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #0f4c5c;
  display: flex;
  align-items: center;
}

/* // ------------------------------------------------------------------------------------------------------------------- \\ */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: #daa520;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #00c8ff;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.loader1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #00c8ff #00c8ff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader1::after,
.loader1::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #daa520 #daa520;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader1::before {
  width: 32px;
  height: 32px;
  border-color: #037fa1 #037fa1 transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}


input,
textarea,
button {
  border: none;
  outline: none;
  background: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  font-size: 1.5rem;
  cursor: pointer;
}

/* input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
} */

@media screen and (max-width: 780px) {
  body {
    font-size: 18px;
  }

}

.cl-internal-b3fm6y {
  display: none;
}